.logoandtext {
    margin-bottom: 30px;
}

.facebook-logo {
    height: 75px;
    margin-left: -25px;
}

.recent-login-text {
    font-size: 33px;
    margin: 0;
}

.instructions {
    font-size: 15px;
    color: rgb(112, 112, 112);
}


